﻿@{
    Layout = null;
    ViewBag.Title = "DashBoard";
}

@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dashboard</title>
</head>
<body>

    <h3>Dashboard Page</h3>
    Welcome @Context.Session.GetString("username")
    <br>
    <a asp-controller="dashboard" asp-action="logout">Logout</a>

</body>
</html>